header {
    background-color: #0e0e0e;
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    text-align: right;
    margin-bottom: 10px;
    position: fixed;
    top: 87px;
    width: 100%;
    z-index: 2;
}

nav li {
    display: inline-block;
    width: 60px;
    padding: 5px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 0px 5%;
}

footer {
    height: 100px;
    color: white;
    position: relative;
    top: 150px;
}

footer li {
    display: inline;
}

.container {
    text-align: center;
    max-width: 980px;
    min-width: 625px;
    position: relative;
    top: 120px;
    padding-top: 120px;
}

.date-square {
    width: 55px;
    height: 50px;
    background-color: white;
    position: relative;
    bottom: 25px;
    display: inline-block;
    z-index: 1;
}

.date-square p {
    color: black;
    width: 50px;
    height: 30px;
    background-color: white;
    text-align: center;
    margin: 0;
    position: relative;
    top: 10px;
}

#logo {
    height: 100px;
    width: auto;
    margin: 0px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}