<h1>Hi!</h1>
<p> We are open!</p>
<p><%= @message %></p>
<form action = "/" method = "POST">
Your name: <br />
  <input type="text" name="user_name"/> <br />
 Your phone: <br />
  <input type="text" name="phone"/> <br />
  Date and time: <br />
  <input type="text" name="date_time"/> <br />
  <input type="submit"/>
</form>