<h1>Hi!</h1>
<p>You login was: <%= @login %></p>
<p>You password was: <%= @password %></p>
<form action = "/" method = "POST">
<input type="text" name="aaa"/>
  <input type="password" name="bbb"/>
  <input type="submit"/>
</form>