<h1>Hi, lox and pidr!</h1>
<h2>If you want to watch clientdata enter your admin's loogin and password!</h2>
  <form action = "/admin" method = "POST">
    Login: <br />
    <input type="text" name="login"/> <br />
    Password: <br />
    <input type="password" name="password"/> <br />
    <input type="submit"/>
  </form>